ADMIN_KEY=dealLeads2026
MONGODB_URI=mongodb+srv://your-user:your-password@cluster.mongodb.net/your-db?retryWrites=true&w=majority

PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

